<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	{% if vm['trace'] %}
		<table>
			<tr valign="top">
				<td><img src="{{ vm['trace'].avatar(64) }}" width="64px" height="64px"></td>
				<td>
					<h1>{{ vm['trace'].id }}</h1>
					{% if vm['trace'].start %}
						started {{ vm['trace'].start }}
					{% endif %}
				</td>
			</tr>
		</table>
	    
		<hr>
		<h1>Full Trace</h1>
		<table>
		{% for page in pages %}
			{% include 'trace.html' %}
		{% endfor %}
		</table>
	{% else %}
    	<h1>User not found</h1>
    {% endif %}
 
{% endblock %}