<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }} - Insight</title>
    {% else %}
    <title>Welcome to Insight</title>
    {% endif %}
    
  </head>
  <body>
    <div>
      <p><a href="/index" style="float:left;">Home</a></p>
      <p style="float:right;">You are in the {{ user_group }} testing group. </p>
    </div>
    <hr style="clear:both;">
    {% block content %}
    {% endblock %}
    
    <script src="{{url_for('static', filename='js/loadme.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
    loadjs(document, window, new XMLHttpRequest(), 'index', true);
    </script>
  </body>
</html>
